@import "../variables";
@import "../mixins";
/*======= Footer Styles =======*/

.footer--widgets{
	color: #959595;
	margin-top: -30px;
	.widget-title{
		font-size: 24px;
		font-weight: 700;
		font-family: $heading-font-bolditalic;
		color: #a8a8a8;
		margin-bottom: 35px;
	}

	.single-widget{
		margin-top: 30px;
		ul{
			padding-left: 0;
			list-style: none;
			li{
				margin-bottom: 15px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}

	// Widget Details
	.widget--details{
		@include flex(0 0 32%);
		padding-right: 90px;
		.logo{
			margin-bottom: 25px;
		}
		.social-icons{
			padding-top: 15px;
			ul{
				li{
					margin-bottom: 0;
					a{
						color: #858585;
						border-color: #858585;
						&:hover{
							color: #fff;
						}
					}
				}
			}
		}
	}

	// Widget Support
	.widget--support{
		@include flex(0 0 19%);
		padding-right: 50px;
		ul{
			li{
				margin-bottom: 10px;
			}
		}
		a{
			color: #959595;
			position: relative;
			&:before{
				content: "";
				position: absolute;
				left: 0;
				top: 50%;
				height: 1px;
				width: 0;
				background: $theme-color;
				@include transition(all 0.3s ease-in-out 0s);
			}
			&:hover{
				color: $theme-color;
				padding-left: 12px;
				&:before{
					width: 7px;
				}
			}
		}
	}

	// Widget Contact
	.widget--contact{
		@include flex(0 0 23%);
		padding-right: 50px;
		li{
			a{
				display: block;
				color: #959595;
				&:hover{
					color: $theme-color;
				}
			}
		}
	}

	// Widget Newsletter
	.widget--newsletter{
		form{
			margin-top: 4px;
			position: relative;
			input{
				background: transparent;
				border: 1px solid #858585;
				height: 40px;
				line-height: 40px;
				color: $body-color;
				padding: 0 20px;
				&:focus{
					border-color: $theme-color;
				}
				&::placeholder{
					color: #959595;
				}
			}
			button{
				position: absolute;
				right: 0;
				top: 0;
				width: 50px;
				text-align: center;
				height: 40px;
				line-height: 41px;
				display: inline-block;
				background: transparent;
				border: none;
				outline: none;
				font-size: 15px;
				color: #959595;
				@include transition(all 0.3s ease-in-out 0s);
				&:hover{
					color: $theme-color;
					@include transform(translate(10px, -5px) scale(0.85));
				}
			}
		}
	}

	// Instagram
	.widget--instagram{
		ul{
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);

			li{
				a{
					display: inline-block;
					position: relative;
					&:before{
						content: "";
						left: 0;
						top: 0;
						height: 100%;
						width: 100%;
						position: absolute;
						background: $theme-color;
						opacity: 0;
						visibility: hidden;
						@include transition(all 0.3s ease-in-out 0s);
					}
					&:after{
						content: "\f0c1";
						left: 50%;
						top: 50%;
						position: absolute;
						color: #ffffff;
						font-family: fontAwesome;
						margin-top: 10px;
						opacity: 0;
						visibility: hidden;
						@include transform(translate(-50%, -50%));
						@include transition(all 0.3s ease-in-out 0s);
					}
					&:hover{
						&:before{
							opacity: 0.75;
							visibility: visible;
						}
						&:after{
							margin-top: 0;
							opacity: 1;
							visibility: visible;
						}
					}
				}
			}
		}
	}

	.widget-row{
		@include flex(0 0 26%);
	}
}


.footer__copyright{
	p{
		margin-bottom: 0;
		color: #858585;
		a{
			color: #858585;
			&:hover{
				color: $theme-color;
			}
		}
	}
}


@media #{$lg-layout}{
	.footer--widgets{
		.widget--details{
			@include flex(0 0 28%);
			padding-right: 30px;
		}
		.widget--support{
			@include flex(0 0 17%);
			padding-right: 30px;
		}
		.widget--contact{
			padding-right: 30px;
		}
		.widget-row{
			@include flex(0 0 32%);
		}
	}
}


@media #{$md-layout}{
	.footer--widgets{
		margin-top: -50px;
		.single-widget{
			margin-top: 50px;
		}
		.widget--details{
			@include flex(0 0 50%);
			padding-right: 30px;
		}
		.widget--support{
			@include flex(0 0 50%);
			padding-right: 30px;
		}
		.widget--contact{
			@include flex(0 0 50%);
			padding-right: 30px;
		}
		.widget-row{
			@include flex(0 0 50%);
		}
	}
}


@media #{$sm-layout}{
	.footer--widgets{
		margin-top: -50px;
		.single-widget{
			margin-top: 50px;
		}
		.widget--details{
			@include flex(0 0 50%);
			padding-right: 30px;
		}
		.widget--support{
			@include flex(0 0 50%);
			padding-right: 30px;
		}
		.widget--contact{
			@include flex(0 0 50%);
			padding-right: 30px;
		}
		.widget-row{
			@include flex(0 0 50%);
		}


		.widget--instagram ul{
			@include justify-content(flex-start);
			margin-left: -7px;
			li{
				margin-left: 7px;
			}
		}
	}

	.footer__copyright{
		text-align: center;
		.text-right{
			text-align: center !important;
		}
	}
}


@media #{$xs-layout}{
	.footer--widgets{
		margin-top: -50px;
		.single-widget{
			margin-top: 50px;
		}
		.widget--details{
			@include flex(0 0 100%);
			padding-right: 0;
		}
		.widget--support{
			@include flex(0 0 100%);
			padding-right: 0;
		}
		.widget--contact{
			@include flex(0 0 100%);
			padding-right: 0;
		}
		.widget-row{
			@include flex(0 0 100%);
		}


		.widget--instagram ul{
			@include justify-content(flex-start);
			margin-left: -7px;
			li{
				margin-left: 7px;
			}
		}
	}
}