@import "../variables";
@import "../mixins";
/*======= Product Details =======*/

#pg-product{

}

.pg-product{
	padding-right: 30px;
}

.pg-product__details{
	@include flexbox();
}

.pg-product__photos{
	background: #f0f0f0;
	width: 400px;
	padding: 30px 30px 60px 30px;
}

.pg-product__photos__medium{
	text-align: center;
}

.pg-product__photos__small{
	li{
		margin: 0 10px;
		&:first-child{
			margin-left: 0;
		}
		&:last-child{
			margin-right: 0;
		}
	}
}

.pg-product__content{
	@include flex-shrink(100);
	background: #fafafa;
	padding: 35px 30px;
	h2{
		font-weight: 700;
		font-style: italic;
		font-family: $heading-font-bolditalic;
		color: #515151;
		font-size: 28px;
		line-height: 1.15;
	}
	h5{
		margin-top: 30px;
		font-size: 16px;
		font-family: $body-font;
		font-weight: 500;
		color: #676767;
		font-style: normal;
	}
}
ul.pg-product__content__info{
	list-style: none;
	padding-top: 15px;
	padding-left: 0;
	@include flexbox();
	@include flex-wrap(wrap);
	li{
		margin-top: 8px;
		padding-right: 30px;
		font-size: 16px;
		font-family: $body-font;
		color: #a2a2a2;
		span.title{
			font-weight: 500;
			color: #676767;
		}
		&.width-half{
			@include flex-basis(50%);
		}
	}
}
.pg-product__content__footer{
	margin-top: 30px;
	h4{
		font-family: $body-font;
		font-style: italic;
		color: #303030;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		margin-bottom: 0;
		margin-top: 15px;
		span{
			font-weight: 700;
			font-size: 20px;
		}
	}
	.product-action{
		ul{
			margin-top: 15px;
			@include flexbox();
			@include align-items(center);
			padding-left: 0;
			list-style: none;
			li{
				padding: 0 10px;
				&:first-child{
					padding-left: 0;
				}
				&:last-child{
					padding-right: 0;
				}
				a:not(.cr-btn){
					height: 32px;
					width: 32px;
					display: inline-block;
					text-align: center;
					line-height: 32px;
					border: 1px solid #929292;
					border-radius: 100%;
					color: #929292;
					&:hover{
						background: $theme-color;
						border-color: $theme-color;
						color: #fff;
					}
				}
			}
		}
	}
}

.cart-plus-minus{
	margin-left: 7px;
	display: inline-block;
	width: 55px;
	text-align: center;
	font-family: $body-font;
	position: relative;
	.qtybutton{
		width: 15px;
		cursor: pointer;
		position: absolute;
		top: 0;
		&.dec{
			left: 0;
		}
		&.inc{
			right: 0;
		}
	}
	input{
		background: transparent;
		height: 25px;
		line-height: 25px;
		padding: 0;
		outline: none;
		text-align: center;
		width: 100%;
		font-family: $body-font;
		color: #a2a2a2;
		border: none;
	}
}



/* Page Product Body Styles*/
.pg-product__body{
	margin-top: 70px;
}
.pg-product__trigger{
	margin-bottom: 25px;
	li{
		padding: 0 25px;
		position: relative;
		&:after{
			content: "";
			height: 16px;
			width: 1px;
			background: $border-color;
			position: absolute;
			right: 0;
			top: 5px;
		}
		&:first-child{
			padding-left: 0;
		}
		&:last-child{
			padding-right: 0;
			&:after{
				display: none;
			}
		}
		a{
			font-size: 22px;
			font-family: $heading-font-bolditalic;
			font-weight: 700;
			font-style: italic;
			color: #b4b4b4;
			&.active{
				color: #515151;
			}
		}
	}
}
.pg-product__datasheet{
	padding-top: 10px;
	tr{
		td{
			&:first-child{
				font-weight: 500;
				color: #606060;
			}
		}
	}
}
.pg-product__reviews{
	padding-top: 15px;
	.comment-box{
		padding-top: 20px;
	}
}
.single-review{
	border: 1px solid $border-color-light;
	padding: 30px;
	margin-bottom: 30px;
	@include flexbox();
	.single-review__thumb{
		height: 95px;
		width: 85px;
		overflow: hidden;
	}
	.single-review__content{
		@include flex-shrink(100);
		padding-left: 30px;
	}
	.signle-review__topline{
		@include flexbox();
		@include align-items(center);
		margin-bottom: 20px;
		h5{
			margin-right: 30px;
			font-style: italic;
			font-weight: 700;
			font-family: $heading-font-bolditalic;
			color: #606060;
			margin-bottom: 0;
		}
		.date{
			margin-right: 30px;
		}
	}
	a.reply{
		color: #606060;
		font-weight: 500;
		font-weight: 16px;
		&:hover{
			color: $theme-color;
		}
	}
}
.star-ratings{
	padding-left: 0;
	list-style: none;
	li{
		display: inline-block;
		color: #cccccc;
		font-size: 14px;
		@include transition(all 0.3s ease-in-out 0s);
		&.active{
			color: #FFC55B;
		}
	}
}
.new-ratings{
	padding-left: 0;
	list-style: none;
	& > li{
		display: inline-block;
		margin-right: 12px;
		&:last-child{
			margin-right: 0;
		}
		ul{
			padding-left: 0;
			list-style: none;
			li{
				display: inline-block;
				@include transition(all 0.3s ease-in-out 0s);
				color: #ccc;
			}
			&:hover{
				li{
					color: #FFC55B;
				}
			}
		}
	}
}

/* Page product Footer */
.pg-product__footer{
	margin-top: 50px;
	.tags{
		padding-bottom: 20px;
		border-bottom: 1px solid #ebebeb;
		ul{
			list-style: none;
			padding-left: 5px;
			li{
				display: inline-block;
				margin-right: 4px;
				a{
					font-size: 500px;
					color: #a5a5a5;
					font-size: 15px;
					&:hover{
						color: $theme-color;
					}
				}
				&:after{
					content: ",";
				}
				&:last-child{
					&:after{
						display: none;
					}
				}
			}
		}
	}
}



@media #{$lg-layout}{
	.pg-product__details{
		@include flex-wrap(wrap);
	}
	.pg-product__photos{
		width: 100%;
	}
	ul.pg-product__content__info{
		li{
			@include flex-basis(50%);
		}
	}
	.single-review .signle-review__topline{
		@include flex-wrap(wrap);
	}
}

@media #{$md-layout}{
	.pg-product{
		padding-right: 0;
	}
	.pg-product__details{
		@include flex-wrap(wrap);
	}
	.pg-product__photos{
		width: 100%;
	}
	ul.pg-product__content__info{
		li{
			@include flex-basis(50%);
		}
	}
	.single-review .signle-review__topline{
		@include flex-wrap(wrap);
	}
}

@media #{$sm-layout}{
	.pg-product{
		padding-right: 0;
	}
	.pg-product__details{
		@include flex-wrap(wrap);
	}
	.pg-product__photos{
		width: 100%;
	}
	ul.pg-product__content__info{
		li{
			@include flex-basis(50%);
		}
	}
	.single-review{
		padding: 20px;
	}
	.single-review .signle-review__topline{
		@include flex-wrap(wrap);
	}
	.product-details-area{
		.shop-page-products{
			margin-top: 0;
		}
	}
}

@media #{$xs-layout}{
	.pg-product__photos{
		padding: 30px 0;
	}
	.pg-product__content{
		padding: 35px 20px;
	}
	.pg-product__photos__small li{
		padding: 0 5px;
		margin: 0;
		@include flex-basis(33.33%);
	}
	ul.pg-product__content__info li{
		@include flex-basis(100%);
		padding-right: 0;
		&.width-half{
			@include flex-basis(100%);
		}
	}
	.pg-product__trigger li{
		@include flex-basis(100%);
		padding: 5px 0;
		text-align: center;
		&:first-child{
			padding-right: 0;
			&:after{
				display: none;
			}
		}
		&:after{
			top: 0;
			width: 100%;
			height: 1px;
		}
		&:last-child{
			&:after{
				display: block;
			}
		}
	}
	.single-review{
		@include flex-wrap(wrap);
		.single-review__content {
		    padding-left: 0;
		    padding-top: 30px;
		}
	}
	.pg-product__footer .tags ul{
		padding-left: 0;
	}
}